
:root
{
   --col-bg:  rgb(250, 230, 231);
  --col-bg-on: indianred;
  --font-text:grey;
}
body{
 background-color:var(--col-bg);
   display: block;
   margin-top: 0;
   color:var(--font-text);
   font-family: Arial, Helvetica, sans-serif;
   scroll-behavior: smooth;
}

/* HEADER */
header{
    background-color:var(--col-bg);
    width: 100%;
    margin: 10px auto;
    position: wrap;
}
.logo {
    font-size:100px;
    text-align: center;
    color:var(--col-bg-on);
    margin-bottom: 20px;
}
    

/*SITE NAV */

nav ul{
    display:flex;
    max-width: 1000px;
    margin:0 auto;
    padding-inline-start: 0;
    }
    nav ul li{
        margin: 0 auto;
        font-size: 15px;
        color: var(--col-bg-on);
        list-style: none;
        justify-content: space-between;
}
a{
    text-decoration: none;
    color:var(--col-bg-on);
    padding: 10px;
}
a:hover{
    background-color: white;
    text-decoration: none;
}
a.active {
    color: rebeccapurple;
    background-color: white;
    font-weight: bold;
  }
  /*TEXT STYLE */
  h1, h2, h3, h4{
    color: var(--col-bg-on);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 1em;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px ;
}
/* RECIPE SECTION OF PAGE */
.container {
background-color: #ffffff;
    max-width: 1040px;
    margin: 0 auto;
    padding: 20px 20px;
}

h1{
    font-size: 3rem;
    margin: 0 auto;
}
.rating-share{
    display:inline-flex;
    justify-content: space-between;
    }
.rating {
       color: saddlebrown;
       font-size: 1.25rem;
       margin-bottom: 2rem;
       margin-top: 1em;
    }
.rating-share  .fa fa-share-alt{
    margin-top: 50px;
}
/* HERO IMAGE */
img{
    width: 100%;
}
main{
    margin: 10px 0px;
}

/* PAGE NAVIGATION SIDEBAR */
.sidebar{
    position: sticky;
    height: 100%;
    width: auto;
    top: 0;
    z-index: 1000;
    background-color: white;
}
.mini-nav{
    display: inline-flex;
    list-style: none; 
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    padding-inline-start: 0;
}

/* FOOTER STUFF */
footer {
    background-color: var(--col-bg-on);
    display: block;
    padding: 10px;
}
.contact-us-glossary{
    display: block;
    max-width: 1000px;
    margin: 0 auto;
  
}
.contact-us-glossary ul{
    justify-content: space-around;
}
.contact-us-glossary ul li{
list-style: none;
justify-content: space-between;
}
.contact-us-glossary ul li a{
    color: var(--col-bg);
}



/* MEDIA SCREEN */
@media screen and (min-width: 400px){
    .contact-us-glossary ul{
        display:inline-flex;
        justify-content: space-around;
    }
}
@media screen and (min-width: 600px){  
.main-grid{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 0.10fr 0.10fr 1fr 0.5fr .25fr;
    grid-template-areas: "sidebar about about" 
                        "sidebar receipe receipe"
                        "sidebar ingredient ingredient"
                        "sidebar steps steps"
                        "sidebar notes notes";
                        font-size: 20px;
                        
                        }
.sidebar{
    grid-area: sidebar;
    background-color: lavender;
    position: relative;
    height: 100%;
    padding: 0;
}

.mini-nav {
    display: block;
	position: sticky;
    top: 0;
    margin-top: 20px;
}
.mini-nav li{
    margin-bottom:10px;
}

.about{
    background-color: lavender;
    grid-area: about;
}
.receipe{
    background-color: #ffffff;
    grid-area: receipe;
}
.ingredients{
background-color: #ffffff;
grid-area: ingredient;
}
.steps{
    background-color:#ffffff;
    grid-area: steps;
   
}
.notes{
    background-color:lavender;
    grid-area: notes;
    padding-bottom: 40px;
}

}